<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Form Demo</title>
    <link rel="stylesheet" href="path/to/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/custom.css">

</head>
<body>

<div th:include="navbar.html"></div>

<div align="center">
    <h1>Welcome to the Form Demo</h1>
    <p>This is the landing page for the application.</p>
</div>

<script src="path/to/bootstrap.bundle.min.js"></script>
</body>
</html>


